---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Morning Star Christian School - {{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.baseurl }}"><img src="https://avatars1.githubusercontent.com/u/6496876?s=140" alt="Morning Star Christian School" /></a>
        <p class="header">Java Programming for Middle School</p>
        <ul>
          <li><a class="buttons github" href="https://github.com/mscsbend">GitHub Profile</a></li>
          <li><a class="buttons github" href="http://mscsbend.org">School Web Site</a></li>
        </ul>

      </header>
      <section>
        <h1>Morning Star Christian School<br/>
        Middle School Computer Science Class</h1>
        <h2>{{ page.title }}</h2>
        <div>{{ content }}</div>
      </section>
      <footer>
        <p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
		
  </body>
</html>
